---
import TituloPagina from '@/componentes/TituloPagina.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import { obtenerPaginas, obtenerPagina } from '@/utilidades/cache';

export async function getStaticPaths() {
  const paginas = obtenerPaginas();
  return paginas.map(({ slug }) => ({ params: { slug } }));
}

const { slug } = Astro.params;
const page = obtenerPagina(slug);

if (!page) {
  return Astro.redirect('/404');
}
---

<Plantilla titulo={page.title} descripcion={page.descripcion}>
  <main class="pagina" data-pagefind-body>
    <TituloPagina titulo={page.title} slug={page.slug} />
    <div class="contenidoPagina" set:html={page.content} />
  </main>
</Plantilla>

<style lang="scss">
  .contenidoPagina {
    padding: 2em;
    margin-left: 25vw;
    margin-right: 25vw;
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  @media (max-width: 600px) {
    .contenidoPagina {
      padding: 1.8em;
      margin-left: 15vw;
      margin-right: 15vw;
    }
  }

  @media (min-width: 601px) and (max-width: 849px) {
    .contenidoPagina {
      padding: 1.8em;
      margin-left: 20vw;
      margin-right: 20vw;
      display: flex;
    }
  }
  @media (min-width: 850px) and (max-width: 1000px) {
    .contenidoPagina {
      padding: 1.8em;
      margin-left: 22vw;
      margin-right: 22vw;
      display: flex;
    }
  }
</style>
