---
// Importar los módulos y tipos necesarios
import type { Glosario } from '@/tipos';
import TituloPagina from '@/componentes/TituloPagina.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import { obtenerGlosario, obtenerPagina } from '@/utilidades/cache';
import { tieneContenidoHTML } from '@/utilidades/ayudas';

const pagina = await obtenerPagina('glosario');
if (!pagina) {
  throw new Error('Página glosario no encontrada');
}

const terminos = await obtenerGlosario();

// Organizar los términos del glosario en orden alfabético
terminos.sort((a, b) => a.title.localeCompare(b.title));
---

<Plantilla titulo={pagina.title} descripcion={pagina.descripcion}>
  <main class="glosario" data-pagefind-body data-pagefind-meta="seccion:Glosario">
    <TituloPagina titulo={pagina.title} slug={pagina.slug} />
    {tieneContenidoHTML(pagina.content) && <div class="introPagina" set:html={pagina.content} />}

    <div id="contenedorGlosario">
      {
        terminos.map((glosario) => (
          <article class="termino" id={glosario.slug}>
            <h2 class="tituloTermino" data-pagefind-meta="title">
              {glosario.title}
            </h2>
            <div class="contenidoTermino" set:html={glosario.content} />
          </article>
        ))
      }
    </div>
  </main>
</Plantilla>

<script>
  const idTermino = window.location.hash;
  if (idTermino) {
    const elemento = document.querySelector(idTermino);
    if (elemento) {
      elemento.classList.add('terminoEnfocado');
    }
  }
</script>

<style lang="scss">
  #contenedorGlosario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding-bottom: 8em;

    .termino {
      width: 30vw;
      margin: 1em;
      position: relative;
    }

    .tituloTermino {
      padding-left: 10px;
    }
  }

  .contenidoTermino {
    border: 2px solid var(--bordePrimario, #f21d44);
    padding: 10px;
    background-color: var(--superficieClaro);
    position: relative;
    margin-bottom: 2em;
  }

  .terminoEnfocado {
    h2 {
      border-bottom: 2px solid var(--colorTexto);
    }

    .contenidoTermino {
      background-color: var(--amarillo);
      border: 2px solid var(--colorTexto);
      box-shadow: 0 0 10px var(--colorTexto);
    }
  }
</style>
