---
// Importar los módulos y tipos necesarios
import type { Glosario } from '../tipos';
import { esquemaPagina, gql, pedirDatos } from '../utilidades/ayudas';
import type { Pagina } from '@/tipos';
import TituloPagina from '@/componentes/TituloPagina.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import type { MetaInfo } from '../tipos';

const PeticionPagina = gql`
  query {
    ${esquemaPagina('glosario')}
  }
`;

async function pedirSeccionDatos(cursorTerminos: string = '', terminosProcesados: Glosario[] = []) {
  const EsquemaEventos = gql`
    query Terminos {
      terminos(first: 1000${cursorTerminos ? `, after: "${cursorTerminos}"` : ''}) {
        pageInfo {
          hasNextPage
          hasNextPage
          hasPreviousPage
          startCursor
          endCursor
        }
        
        nodes {
          slug
          title
          content
          status
        }
      }
    }
  `;

  const { terminos: algunosTerminos } = await pedirDatos<{
    terminos: { pageInfo: MetaInfo; nodes: Glosario[] };
  }>(EsquemaEventos);
  // Filtrar los términos que están publicados
  terminosProcesados.push(...algunosTerminos.nodes.filter((termino) => termino.status === 'publish'));

  if (algunosTerminos.pageInfo.hasNextPage) {
    return await pedirSeccionDatos(algunosTerminos.pageInfo.endCursor, terminosProcesados);
  }

  return terminosProcesados;
}

// Obtener los datos de la pagina
const { pagina, terminos } = await pedirDatos<{ page: Pagina }>(PeticionPagina).then(async (respuesta) => ({
  pagina: respuesta.page,
  terminos: await pedirSeccionDatos(),
}));

// Organizar los términos del glosario en orden alfabético
terminos.sort((a, b) => a.title.localeCompare(b.title));
---

<Plantilla titulo={pagina.title} descripcion={pagina.descripcion}>
  <main class="glosario">
    <TituloPagina titulo={pagina.title} slug={pagina.slug} />

    <div id="contenedorGlosario">
      {
        terminos.map((glosario) => (
          <article class="termino" id={glosario.slug}>
            <h2 class="tituloTermino">{glosario.title}</h2>
            <div class="contenidoTermino" set:html={glosario.content} />
          </article>
        ))
      }
    </div>
  </main>
</Plantilla>

<style lang="scss">
  #contenedorGlosario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding-bottom: 8em;

    .termino {
      width: 30vw;
      margin: 1em;
      position: relative;
    }

    .tituloTermino {
      padding-left: 10px;
    }
  }

  .contenidoTermino {
    border: 2px solid var(--bordePrimario, #f21d44);
    padding: 10px;
    background-color: var(--superficieClaro);
    position: relative;
    margin-bottom: 2em;
  }
</style>
