---
import { listaCategorias } from '@/cerebros/general';
import FiltrosHistoriaOral from '@/componentes/FiltrosHistoriaOral.astro';
import TituloPagina from '@/componentes/TituloPagina.astro';
import VisualizacionCategorias from '@/componentes/VisualizacionCategorias.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
// import Transcripcion from '@/componentes/Transcripcion.astro';
import type { Categoria, Pagina } from '@/tipos';
import { esquemaPagina, gql, pedirDatos } from '@/utilidades/ayudas';

const PeticionPagina = gql`
  query {
    ${esquemaPagina('historia-oral')}
  }
`;
const { page: pagina } = await pedirDatos<{ page: Pagina }>(PeticionPagina);
const categorias: Categoria[] = await listaCategorias().then((categorias) =>
  categorias.map((categoria) => ({
    nombre: categoria.name,
    slug: categoria.slug,
    conteo: categoria.count,
    hijos: categoria.children.nodes.map((hijo) => ({
      nombre: hijo.name,
      slug: hijo.slug,
      conteo: hijo.count,
    })),
  })),
);
// const terminosEjemplo = [
//   { termino: 'Internet', peso: 10 },
//   { termino: 'Web', peso: 8 },
//   { termino: 'HTTP', peso: 7 },
//   { termino: 'JavaScript', peso: 6 },
//   { termino: 'CSS', peso: 6 },
//   { termino: 'HTML', peso: 6 },
//   { termino: 'TCP/IP', peso: 5 },
//   { termino: 'DNS', peso: 5 },
//   { termino: 'ARPANET', peso: 4 },
//   { termino: 'WWW', peso: 4 },
//   { termino: 'Browser', peso: 3 },
//   { termino: 'URL', peso: 3 },
//   { termino: 'Router', peso: 2 },
//   { termino: 'Protocol', peso: 2 },
//   { termino: 'Server', peso: 2 },
// ];

// const terminosEntrevista: Termino[] = [];

---

<Plantilla titulo={pagina.title} descripcion={pagina.descripcion}>
  <div class="paginaConMenuIzquierdo">
    <aside class="menuIzquierdo">
      <TituloPagina titulo={pagina.title} slug={pagina.slug} modo="oscuro" />
      <FiltrosHistoriaOral />
    </aside>

    <main class="col2">
      <VisualizacionCategorias categorias={categorias} />
    </main>
  </div>
</Plantilla>

<style lang="scss">
  main {
    display: flex;
    flex-direction: column;
    padding: 1em 2em 5em 2em;
    gap: 2em;
  }


  </style>
