---
import FiltrosHistoriaOral from '@/componentes/FiltrosHistoriaOral.astro';
import TituloPagina from '@/componentes/TituloPagina.astro';
import FichaPersonajes from '@/componentes/FichaPersonajes.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import type { Pagina, Personaje } from '@/tipos';
import { esquemaPagina, gql, pedirDatos } from '@/utilidades/ayudas';

const PeticionPagina = gql`
  query {
    ${esquemaPagina('historia-oral')}
  }
`;
const { page: pagina } = await pedirDatos<{ page: Pagina }>(PeticionPagina);

const PeticionPersonajes = gql`
  query {
    personajes(first: 1000) {
      nodes {
        title
        slug
        content(format: RENDERED)
        featuredImage {
          node {
            altText
            sourceUrl
          }
        }
      }
    }
  }
`;

const { personajes } = await pedirDatos<{ personajes: { nodes: Personaje[] } }>(PeticionPersonajes);

personajes.nodes.sort((a, b) => {
  const nombreA = a.title.toLowerCase();
  const nombreB = b.title.toLowerCase();

  if (nombreA < nombreB) return -1;
  if (nombreA > nombreB) return 1;
  return 0;
});

// const terminosGlobales = await listaTerminos();
---

<Plantilla titulo={pagina.title} descripcion={pagina.descripcion}>
  <div class="paginaConMenuIzquierdo">
    <aside class="menuIzquierdo">
      <TituloPagina titulo={pagina.title} slug={pagina.slug} modo="oscuro" />
      <FiltrosHistoriaOral />
    </aside>

    <main class="col2">
      <!-- {terminosGlobales ? <NubePalabras terminos={terminosGlobales} /> : null} -->
      <!-- <VisualizacionCategorias /> -->

      <div class="personajes">
        <h2>Personajes</h2>
        <div class="personajes-lista">
          {
            personajes.nodes.map((personaje) => (
              <FichaPersonajes
                slug={personaje.slug}
                nombre={personaje.title}
                bio={personaje.content}
                foto={personaje.featuredImage}
                categorias={[]}
                enlace={true}
              />
            ))
          }
        </div>
      </div>
    </main>
  </div>

  <style lang="scss">
    main {
      display: flex;
      flex-direction: column;
      padding: 1em 2em 5em 2em;
      gap: 2em;
    }

    section .personaje {
      padding: 100px;
    }

    .personajes-lista {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      width: 100%;
    }

    @media (max-width: 768px) {
      .personajes-lista {
        grid-template-columns: 1fr;
      }
    }

    .personajes {
      width: 100%;

      h2 {
        margin-bottom: 1.5rem;
        font-family: var(--fuenteTitulos);
        color: var(--colorTexto);
      }
    }

    section .personaje {
      padding: 1rem;
    }
  </style>
</Plantilla>
