---
import type { Imagen } from '@/tipos';
import FiltroFoto from '@/componentes/FiltroFoto.astro';

interface Props {
  slug: string;
  nombre: string;
  bio: string;
  foto: Imagen | null;
}

const { slug, nombre, bio, foto } = Astro.props;
---

<section class="personaje" id={slug}>
  <div class="contenido">
    <h2 class="tituloPersonaje">{nombre}</h2>
    <div class="contenidoPersonaje" set:html={bio} />
  </div>

  {
    foto ? (
      <div class="foto">
        <FiltroFoto ruta={foto.node.sourceUrl} alt={`Foto de ${nombre}`} />
      </div>
    ) : null
  }
</section>

<style>
  .personaje {
    display: flex;
    flex-direction: row;
    height: 233px;
    align-items: flex-start;
    gap: 40px;

    border: 2px solid var(--rojo, #f21d44);
    width: 60%;

    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
  }

  .contenido {
    /* width: 70%; */
  }

  h2 {
    font-family: var(--fuenteTitulos);
  }
</style>
