---
import type { Categoria, Imagen } from '@/tipos';
import FiltroFoto from '@/componentes/FiltroFoto.astro';

interface Props {
  slug: string;
  nombre: string;
  bio: string;
  foto: Imagen | null;
  categorias: Categoria[];
  enlace?: boolean;
}

const { slug, nombre, bio, foto, categorias, enlace } = Astro.props;
---

<section class="personaje" id={slug}>
  <div class="contenido">
    <h2 class="tituloPersonaje">
      {enlace ? <a href={`${import.meta.env.BASE_URL}/personajes/${slug}`}>{nombre}</a> : nombre}
    </h2>
    <div class="contenidoPersonaje" set:html={bio} />

    {
      categorias && categorias.length ? (
        <div class="categorias">
          <h3>Categorías</h3>
          <div class="categorias">
            {categorias.map((categoria) => (
              <span class="categoria">
                {categoria.nombre} ({categoria.conteo})
              </span>
            ))}
          </div>
        </div>
      ) : null
    }
  </div>

  {
    foto ? (
      <div class="foto">
        <FiltroFoto ruta={foto.node.sourceUrl} alt={`Foto de ${nombre}`} />
      </div>
    ) : null
  }
</section>

<style lang="scss">
  .personaje {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    border: 2px solid var(--rojo, #f21d44);
    width: 90%;
    align-items: center;
    margin: 0;
    padding: 20px;
  }

  .foto {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenido {
    width: 70%;
  }

  .categorias {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    font-size: 0.95em;
    font-family: var(--fuenteTextos2);
  }

  h2 {
    font-family: var(--fuenteTitulos);
  }
</style>
