---
import type { CategoriaProcesada, Imagen } from '@/tipos';
import FiltroFoto from '@/componentes/FiltroFoto.astro';
import { base } from '@/utilidades/constantes';

interface Props {
  slug: string;
  nombre: string;
  bio: string;
  foto: Imagen | null;
  categorias: CategoriaProcesada[];
  enlace?: boolean;
}

const { slug, nombre, bio, foto, categorias, enlace } = Astro.props;
---

<section class="personaje" id={slug}>
  <div class="contenido">
    <h2 class="tituloPersonaje">
      {enlace ? <a href={`${base}/personajes/${slug}`}>{nombre}</a> : nombre}
    </h2>

    <div class="contenidoPersonaje" set:html={bio} />

    {
      categorias && categorias.length ? (
        <div class="contenedorCategorias">
          <h3>Categorías</h3>
          <div class="categorias">
            {categorias.map((categoria) => (
              <span class="categoria">
                {categoria.nombre} ({categoria.conteo})
              </span>
            ))}
          </div>
        </div>
      ) : null
    }
  </div>

  {
    foto ? (
      <div class="foto">
        {enlace ? (
          <a class="enlaceFotoPersonaje" href={`${base}/personajes/${slug}`}>
            <FiltroFoto ruta={foto.node.sourceUrl} alt={`Foto de ${nombre}`} />
          </a>
        ) : (
          <FiltroFoto ruta={foto.node.sourceUrl} alt={`Foto de ${nombre}`} />
        )}
      </div>
    ) : null
  }
</section>

<style lang="scss">
  .personaje {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    border: 2px solid var(--rojo, #f21d44);
    width: 90%;
    margin: 2em;
    padding: 20px;
    background-color: var(--superficieClaro);
    position: relative;
    min-height: 220px;
  }

  .foto {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 4em;
    align-self: flex-start;
  }

  .enlaceFotoPersonaje {
    opacity: 1;
    &:hover {
      opacity: 0.8;
    }
  }
  .contenido {
    width: 70%;
  }

  .contenedorCategorias {
    font-size: 0.95em;
  }

  .categorias {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    font-family: var(--fuenteTextos2);
  }

  h2 {
    font-family: var(--fuenteTitulos);
  }

  h3 {
    margin-bottom: 0.5em;
    margin-top: 0;
  }
</style>
