---
import { listaCategoriasPrincipales } from '@/cerebros/general';

interface Props {
  categorias: Array<{ slug: string; nombre: string; conteo: number }>;
  tipos: Array<{ slug: string; nombre: string; conteo: number }>;
}

const { categorias, tipos } = Astro.props;
const categoriasPrincipales = await listaCategoriasPrincipales();
---

<div class="filtros">
  <h3>Filtrar por categorías</h3>
  <div class="contenedorCategorias">
    {
      categorias.map((categoria) => (
        <label
          class={`categoriaFiltro bordeCategoria bordeCategoria${categoriasPrincipales.findIndex((cat) => cat.slug === categoria.slug) + 1}`}
        >
          <input type="checkbox" value={categoria.slug} class="checkboxCategoria" name="filtroCategoria" />
          <span class="nombreCategoria">{categoria.nombre}</span>
          <span class="conteoCategoria">({categoria.conteo})</span>
        </label>
      ))
    }
  </div>

  <h3>Filtrar por tipo</h3>
  <div class="contenedorTipos">
    {
      tipos.map((tipo) => (
        <label class="tipoFiltro">
          <input type="checkbox" value={tipo.slug} class="checkboxTipo" name="filtroTipo" />
          <span class="nombreTipo">{tipo.nombre}</span>
          <span class="conteoTipo">({tipo.conteo})</span>
        </label>
      ))
    }
  </div>

  <div class="botonesAccion">
    <button class="boton botonLimpiar" type="button">Limpiar filtros</button>
  </div>
</div>

<style lang="scss">
  .filtros {
    padding: 0.5rem;
    font-size: 0.8rem;
    color: white;

    h3 {
      margin-top: 0;
    }
  }

  .contenedorCategorias,
  .contenedorTipos {
    display: grid;
    gap: 0.2rem;
    margin-bottom: 1rem;
  }

  .categoriaFiltro,
  .tipoFiltro {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0rem;
    transition: background-color 0.2s;
    border-right: none;
    border-top: none;
    border-bottom: none;
    box-shadow: none;

    .checkboxCategoria,
    .checkboxTipo {
      margin-right: 0.5rem;
      cursor: pointer;
      flex-shrink: 0;
    }

    .nombreCategoria,
    .nombreTipo {
      flex: 1;
      min-width: 0;
    }

    .conteoCategoria,
    .conteoTipo {
      opacity: 0.6;
      font-size: 0.9em;
      margin-left: 0.25rem;
      flex-shrink: 0;
      white-space: nowrap;
    }
  }

  .tipoFiltro {
    border-left: 3px solid var(--cobalto);
  }

  .botonesAccion {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
</style>
