---
import { datosPaginas } from '@/cerebros/general';
import type { PaginaMenu } from '@/tipos';
import { gql, pedirDatos } from '@/utilidades/ayudas';

const rutaActual = Astro.url.pathname;

const EsquemaPaginas = gql`
  query {
    pages {
      nodes {
        title
        slug
        menuOrder
        status
        iconoA
        iconoB
      }
    }
  }
`;

const { pages } = await pedirDatos<{ pages: { nodes: PaginaMenu[] } }>(EsquemaPaginas);

/** Preprocesar el resultado */

// Ordenar las páginas según el orden que se define en WP
const paginas = pages.nodes.sort((a, b) => {
  if (a.menuOrder < b.menuOrder) return -1;
  if (a.menuOrder > b.menuOrder) return 1;
  return 0;
});

// Llenar con valores predeterminados los íconos en caso de que no se llene en WP
paginas.forEach((pagina) => {
  pagina.iconoA = pagina.iconoA.length ? pagina.iconoA : '1';
  pagina.iconoB = pagina.iconoB.length ? pagina.iconoB : '2';
});

datosPaginas.set(paginas);
---

<div id="menuPrincipal">
  <div id="apagarLuz"></div>
  <span id="botonMenu" class="fuenteIconos">8</span>

  <nav id="listaPaginas">
    {
      paginas &&
        paginas.map((pagina) => {
          const ruta = `${import.meta.env.BASE_URL}/${pagina.slug}`;

          return (
            <a
              class={`botonPagina${ruta === rutaActual ? ' actual' : ''}`}
              data-iconoa={pagina.iconoA}
              data-iconob={pagina.iconoB}
              href={`${pagina.slug !== 'inicio' ? `${ruta}` : `${import.meta.env.BASE_URL}`}`}
            >
              <span class="iconoMenu fuenteIconos">{pagina.iconoA}</span>
              <span class="nombrePagina">{pagina.title}</span>
            </a>
          );
        })
    }
  </nav>
</div>

<script>
  let menuAbierto = false;

  const botonMenu = document.querySelector<HTMLSpanElement>('#botonMenu');
  const botonesPaginas = document.querySelectorAll<HTMLLIElement>('.botonPagina');
  const contenedor = document.querySelector<HTMLElement>('#listaPaginas');
  const apagarLuz = document.querySelector<HTMLElement>('#apagarLuz');
  const menuPrincipal = document.querySelector<HTMLElement>('#menuPrincipal');
  const listaPaginas = document.querySelector<HTMLElement>('#listaPaginas');

  if (botonMenu && apagarLuz) {
    botonMenu.addEventListener('click', (evento) => {
      menuAbierto = !menuAbierto;
      cambiarEstadosMenu();
    });

    apagarLuz.addEventListener('click', () => {
      menuAbierto = false;
      cambiarEstadosMenu();
    });

    const cambiarEstadosMenu = () => {
      if (!contenedor || !menuPrincipal || !listaPaginas) return;

      if (menuAbierto) {
        botonMenu.innerText = '0';
        contenedor.classList.add('visible');
        apagarLuz.classList.add('visible');
        menuPrincipal.classList.add('visible');
        listaPaginas.classList.add('visible');
      } else {
        botonMenu.innerText = '8';
        contenedor.classList.remove('visible');
        apagarLuz.classList.remove('visible');
        menuPrincipal.classList.remove('visible');
        listaPaginas.classList.remove('visible');
      }
    };
  }

  /** Hacemos acá los cambios de íconos para que se puedan definir en WP */
  if (botonesPaginas && botonesPaginas.length) {
    botonesPaginas.forEach((boton) => {
      const { iconoa, iconob } = boton.dataset;
      const icono = boton.querySelector<HTMLSpanElement>('.iconoMenu');

      if (icono) {
        boton.addEventListener('mouseenter', () => {
          icono.innerHTML = iconob || '2';
        });

        boton.addEventListener('mouseleave', () => {
          icono.innerHTML = iconoa || '1';
        });
      }
    });
  }
</script>

<style lang="scss">
  a,
  a:link {
    color: var(--colrorTexto);
  }

  #menuPrincipal {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    height: 100vh;
    width: 20vw;
    overflow-y: auto;
    overflow-x: hidden;
    // opacity: 0;
    //background-color: var(--superficieOscura);

    #botonMenu {
      position: fixed;
      top: 10px;
      right: 15px;
      cursor: pointer;
      z-index: 3;
    }

    &.visible {
      //right: 100%;
      opacity: 1;
      color: var(--textoInvertido);

      // #botonMenu {
      //   color: var(--textoInvertido);
      // }
    }
  }

  #apagarLuz {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(155, 154, 154, 0.576);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.45s ease-out;

    &.visible {
      right: 100%;
      opacity: 1;
    }
  }

  #listaPaginas {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-out;
    transform: translateX(100%);
    background-color: var(--superficieOscura);
    z-index: 2;
    min-height: 100vh;
    position: relative;
    padding: 4em 4em 3em 2em;
    color: var(--textoInvertido);

    &.visible {
      transform: translateX(0);
    }

    .botonPagina {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 0.55em;

      &.actual {
        border: 1px dotted;
        pointer-events: none;
      }
    }

    .nombrePagina {
      margin-left: 1em;
    }
  }

  .iconoMenu {
    width: 20px;
  }
</style>
