---
import type { SeccionEntrevistaProcesada } from '@/tipos';
import { base } from '@/utilidades/constantes';

interface props {
  seccion: SeccionEntrevistaProcesada;
}

const { seccion } = Astro.props as props;
---

<section class="seccion">
  <div class="colEntrevista">
    <div set:html={seccion.contenido} />
    {
      seccion.audios.map((audio) => (
        <audio controls>
          <source src={audio.url} type={audio.tipo} />
        </audio>
      ))
    }
  </div>

  <div class="colMetadatos">
    {
      seccion.categorias.length > 0 ? (
        <>
          <h4>Categorias</h4>
          <div class="categorias">
            {seccion.categorias.map((categoria) => (
              <span class="categoria">
                <a href={`${base}/categorias/${categoria.slug}`}>{categoria.nombre}</a>
                {categoria.hijos.length > 0 && (
                  <div class="hijos">
                    {categoria.hijos.map((hijo) => (
                      <span class="hijo">
                        <a href={`${base}/categorias/${hijo.slug}`}>{hijo.nombre}</a>
                      </span>
                    ))}
                  </div>
                )}
              </span>
            ))}
          </div>
        </>
      ) : null
    }
  </div>
</section>

<style lang="scss">
  .seccion {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
  }

  .colEntrevista {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 3px solid;
    padding-right: 1em;
  }

  .colMetadatos {
    width: 30%;
    display: flex;
    flex-direction: column;

    h4 {
      margin: 0 0 1em 0;
    }
  }

  .categoria {
    font-weight: bold;
  }

  .hijo {
    font-weight: normal;
    margin-left: 10px;
  }

  .categoria,
  .hijo {
    display: block;
    margin-bottom: 5px;
  }
</style>
