---
import { listaCategoriasPrincipales } from '@/cerebros/general';
import FichaPersonajes from '@/componentes/FichaPersonajes.astro';
import FiltrosHistoriaOral from '@/componentes/FiltrosHistoriaOral.astro';
import NubePalabras from '@/componentes/NubePalabras.astro';
import SeccionEntrevista from '@/componentes/SeccionEntrevista.astro';
import TituloPagina from '@/componentes/TituloPagina.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import type {
  EntrevistaPersonaje,
  Personaje,
  EntrevistaWP,
  EntrevistasProcesadas,
  EntrevistaSingularProcesada,
  Termino,
  CategoriaProcesada,
} from '@/tipos';
import {
  convertirTextoAHTML,
  gql,
  pedirDatos,
  procesarAudiosTranscripcion,
  procesarCategorias,
} from '@/utilidades/ayudas';
import { opcionesFecha } from '@/utilidades/constantes';

export async function getStaticPaths() {
  const Personajes = gql`
    query {
      personajes(first: 200) {
        nodes {
          title
          slug
        }
      }
    }
  `;
  const { personajes } = await pedirDatos<{ personajes: { nodes: Personaje[] } }>(Personajes);

  return personajes.nodes.map(({ slug }) => {
    return { params: { slug } };
  });
}

const { slug } = Astro.params;

const PeticionEntrevistaCompleta = gql`
  query {
    personaje(id: "${slug}", idType: SLUG) {
      title
      slug
      content(format: RENDERED)
      featuredImage {
        node {
          altText
          sourceUrl
        }
      }

      entrevistas {
        nodes {
          fecha
          ordenTranscripciones
          transcripciones(first: 200) {
            nodes {
              title
              transcripcion(format: RAW)
              databaseId
              ordenAudios
              categories {
                edges {
                  node {
                    name
                    slug
                    count
                    parent {
                      node {
                        slug
                        name
                      }
                    }
                  }
                }
              }
              audios(first: 200) {
                nodes {
                  databaseId
                  archivos {
                    node {
                      link
                      mimeType
                      title
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
`;

const entrevista = await pedirDatos<EntrevistaPersonaje>(PeticionEntrevistaCompleta);
const terminosPersonaje: Termino[] = [];
const categoriasPrincipales = await listaCategoriasPrincipales();
const entrevistaProcesada = await procesarEntrevistasPersonaje(entrevista.personaje.entrevistas.nodes);

async function procesarEntrevistasPersonaje(entrevistas: EntrevistaWP[]): Promise<EntrevistasProcesadas> {
  const categoriasPersonaje: CategoriaProcesada[] = [];
  const entrevistasPersonaje: EntrevistaSingularProcesada[] = [];

  await Promise.all(
    entrevistas.map(async (entrevista) => {
      const { fecha, transcripciones, ordenTranscripciones } = entrevista;
      const fechaEntrevista = new Date(fecha);
      let entrevistaActual = entrevistasPersonaje.find((entrevista) => entrevista.fecha === fechaEntrevista);

      if (!entrevistaActual) {
        entrevistaActual = {
          fecha: fechaEntrevista,
          secciones: [],
        };
        entrevistasPersonaje.push(entrevistaActual);
      }

      transcripciones.nodes.sort((a, b) => {
        return ordenTranscripciones.indexOf(a.databaseId) - ordenTranscripciones.indexOf(b.databaseId);
      });

      await Promise.all(
        transcripciones.nodes.map(async (transcripcion) => {
          const { transcripcion: textoTranscripcion, audios, ordenAudios } = transcripcion;

          const audiosTranscripcion = procesarAudiosTranscripcion(audios, ordenAudios);
          const textoProcesado = await convertirTextoAHTML(textoTranscripcion, terminosPersonaje);

          entrevistaActual.secciones.push({
            contenido: textoProcesado.texto,
            audios: audiosTranscripcion,
            categorias: procesarCategorias(transcripcion.categories),
          });

          const categorias = procesarCategorias(transcripcion.categories);

          categorias.forEach((categoria) => {
            let existe = categoriasPersonaje.find((cat) => cat.slug === categoria.slug);

            if (!existe) {
              existe = {
                nombre: categoria.nombre,
                slug: categoria.slug,
                conteo: 1,
                hijos: [],
                indice: categoriasPrincipales.findIndex((cat) => cat.slug === categoria.slug) + 1,
              };
              categoriasPersonaje.push(existe);
            } else {
              existe.conteo++;
            }

            if (categoria.hijos.length > 0) {
              categoria.hijos.forEach((hijo) => {
                const existeHijo = existe.hijos.find((cat) => cat.slug === hijo.slug);

                if (!existeHijo) {
                  existe.hijos.push({
                    nombre: hijo.nombre,
                    slug: hijo.slug,
                    conteo: 1,
                  });
                } else {
                  existeHijo.conteo++;
                }
              });
            }
          });
        })
      );
    })
  );

  categoriasPersonaje.sort((a, b) => b.conteo - a.conteo);
  categoriasPersonaje.forEach((categoria) => {
    categoria.hijos.sort((a, b) => b.conteo - a.conteo);
  });

  return { categoriasPersonaje, entrevistas: entrevistasPersonaje };
}

//POR HACER: cambiar descripción por bio procesada del personaje
---

<Plantilla titulo={entrevista.personaje.title} descripcion={'entrevista.personaje'} conMenuIzquierdo={true}>
  <div class="paginaConMenuIzquierdo">
    <aside class="menuIzquierdo">
      <TituloPagina titulo="Historias Orales" slug="historia-oral" modo="oscuro" />
      <FiltrosHistoriaOral personaje={slug} />
    </aside>

    <main class="historia-oral">
      <div class="col2">
        <FichaPersonajes
          nombre={entrevista.personaje.title}
          slug={entrevista.personaje.slug}
          bio={entrevista.personaje.content}
          foto={entrevista.personaje.featuredImage}
          categorias={entrevistaProcesada.categoriasPersonaje}
        />

        <NubePalabras terminos={terminosPersonaje} />

        <div id="contenedorEntrevistas">
          <nav class="filtrosCategoriasEntrevista">
            <ul class="listaCategorias">
              <li class="filtroCategoria seleccionado bordeCategoria" data-categoria="entrevista-completa">
                Entrevista completa
              </li>
              {
                entrevistaProcesada.categoriasPersonaje.map((categoria) => (
                  <li
                    class={`bordeCategoria bordeCategoria${categoria.indice} filtroCategoria`}
                    data-categoria={categoria.slug}
                  >
                    {categoria.nombre}
                  </li>
                ))
              }
            </ul>
          </nav>
          {
            entrevistaProcesada.entrevistas.map((entrevista) => (
              <section class="entrevista">
                <h3>Entrevista: {entrevista.fecha.toLocaleDateString('es-CO', opcionesFecha)}</h3>
                {entrevista.secciones.map((seccion) => (
                  <SeccionEntrevista seccion={seccion} />
                ))}
              </section>
            ))
          }
        </div>
      </div>
    </main>
  </div>
</Plantilla>

<script>
  const filtros = document.querySelectorAll<HTMLLIElement>('.filtroCategoria');
  const secciones = document.querySelectorAll<HTMLElement>('.seccion');

  filtros.forEach((filtro) => {
    filtro.addEventListener('click', () => {
      filtros.forEach((f) => f.classList.remove('seleccionado'));
      filtro.classList.add('seleccionado');

      const categoria = filtro.dataset.categoria || 'entrevista-completa';

      secciones.forEach((seccion) => {
        if (categoria === 'entrevista-completa') {
          seccion.style.display = 'flex';
        } else {
          if (seccion.classList.contains(categoria)) {
            seccion.style.display = 'flex';
          } else {
            seccion.style.display = 'none';
          }
        }
      });
    });
  });
</script>

<style lang="scss">
  .listaCategorias {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0;
  }

  .filtroCategoria {
    padding: 5px;
    margin: 5px;
    font-size: 0.9em;
    cursor: pointer;
    user-select: none;
    transition:
      background-color 0.3s,
      color 0.3s;

    &.seleccionado {
      background-color: var(--superficieOscura);
      color: var(--superficieClaro);
    }
  }

  .bordeCategoria1 {
    &:hover {
      background-color: var(--categoria1);
      color: var(--superficieOscura);
    }
  }

  .bordeCategoria2 {
    &:hover {
      background-color: var(--categoria2);
      color: var(--superficieOscura);
    }
  }

  .bordeCategoria3 {
    &:hover {
      background-color: var(--categoria3);
      color: var(--superficieOscura);
    }
  }

  .bordeCategoria4 {
    &:hover {
      background-color: var(--categoria4);
      color: var(--superficieOscura);
    }
  }

  .bordeCategoria5 {
    &:hover {
      background-color: var(--categoria5);
      color: var(--superficieOscura);
    }
  }

  .bordeCategoria6 {
    &:hover {
      background-color: var(--categoria6);
      color: var(--superficieOscura);
    }
  }

  .bordeCategoria7 {
    &:hover {
      background-color: var(--categoria7);
      color: var(--superficieOscura);
    }
  }

  .bordeCategoria8 {
    &:hover {
      background-color: var(--categoria8);
      color: var(--superficieOscura);
    }
  }

  .bordeCategoria9 {
    &:hover {
      background-color: var(--categoria9);
      color: var(--superficieOscura);
    }
  }
</style>
