---
import TituloPagina from '@/componentes/TituloPagina.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import { procesarCategorias } from '@/utilidades/ayudas';
import { apiBase, base } from '@/utilidades/constantes';
import { obtenerDocumentos, obtenerDocumento } from '@/utilidades/cache';
import { listaCategoriasPrincipales } from '@/cerebros/general';

export async function getStaticPaths() {
  const documentos = obtenerDocumentos();
  return documentos.map(({ slug }) => ({ params: { slug } }));
}

const { slug } = Astro.params;
const documento = obtenerDocumento(slug);

if (!documento) {
  return Astro.redirect('/404');
}

const categorias = procesarCategorias(documento.categories);
documento.categorias = categorias;
const categoriasPrincipales = await listaCategoriasPrincipales();
---

<Plantilla
  titulo={documento.title}
  descripcion={documento.descripcion}
  imagen={documento.featuredImage?.node?.filePath}
>
  <TituloPagina titulo="Documentos" slug="documentos" />

  <article class="documento" data-pagefind-body data-pagefind-meta="seccion:Documentos">
    <div class="col1">
      <h2 class="nombreDocumento" data-pagefind-meta="title">{documento.title}</h2>

      <div class="metadatos">
        {
          documento.fecha && (
            <p class="fecha">
              <span class="subtitulo"> Fecha:</span>{' '}
              <span class="metadato" data-pagefind-meta="fecha">
                {documento.fecha}
              </span>
            </p>
          )
        }
        {
          documento.autores && (
            <p class="autores">
              <span class="subtitulo">Autores:</span>{' '}
              <span class="metadato" data-pagefind-meta="autores">
                {documento.autores}
              </span>
            </p>
          )
        }
        {
          documento.fuente && (
            <p class="fuente">
              <span class="subtitulo">Fuente:</span>{' '}
              <span class="metadato" data-pagefind-meta="fuente">
                {documento.fuente}{' '}
              </span>
            </p>
          )
        }
        {
          documento.identificador && (
            <p class="identificador">
              <span class="subtitulo">Identificador:</span> <span class="metadato">{documento.identificador}</span>
            </p>
          )
        }

        {
          documento.tiposDeDocumentos && documento.tiposDeDocumentos.nodes && (
            <p class="tipos">
              <span class="subtitulo">Tipo de documento:</span>

              {documento.tiposDeDocumentos.nodes.map((tipo) => (
                <span class="metadato" data-pagefind-filter="tipo">
                  {tipo.name}
                </span>
              ))}
            </p>
          )
        }

        {
          documento.categorias && documento.categorias.length > 0 && (
            <p class="categorias">
              <span class="subtitulo">Categorías:</span>
              <div class="contenedorCategorias">
                {documento.categorias.map((categoria) => (
                  <div class="categoriaGrupo">
                    <span class="categoria metadato" data-pagefind-filter="categoria">
                      <span
                        class={`iconoCategoria iconoCategoria${categoriasPrincipales.findIndex((cat) => cat.slug === categoria.slug) + 1}`}
                      >
                        {categoria.nombre}
                      </span>
                    </span>

                    {categoria.hijos && categoria.hijos.length > 0 && (
                      <div class="hijos">
                        {categoria.hijos.map((hijo, indice) => (
                          <span class="hijo">
                            {hijo.nombre}
                            <span>{indice < categoria.hijos.length - 1 ? '|' : ''}</span>
                          </span>
                        ))}
                      </div>
                    )}
                  </div>
                ))}
              </div>
            </p>
          )
        }
      </div>

      <div class="descripcion" set:html={documento.descripcion} />
    </div>

    <div class="col2">
      {
        documento.featuredImage && documento.featuredImage.node && documento.featuredImage.node.filePath && (
          <div class="imagenDestacada">
            {documento.archivos && documento.archivos.nodes && documento.archivos.nodes.length > 0 ? (
              <a href={`${apiBase}/${documento.archivos.nodes[0].filePath}`} title="Ver documento">
                <img
                  src={`${apiBase}/${documento.featuredImage.node.filePath}`}
                  alt={`Imagen para ${documento.title}`}
                />
              </a>
            ) : (
              <img src={`${apiBase}/${documento.featuredImage.node.filePath}`} alt={`Imagen para ${documento.title}`} />
            )}
          </div>
        )
      }

      {
        documento.archivos && documento.archivos.nodes && documento.archivos.nodes.length > 0 && (
          <div class="archivos">
            <h3 class="subtitulo">Archivos</h3>
            <ul class="listaArchivos">
              {documento.archivos.nodes.map((archivo) => (
                <li class="archivoDescarga">
                  <a href={`${apiBase}/${archivo.filePath}`}>
                    <img class="iconoDescarga" src={`${base}/iconos/descarga.gif`} alt="Icono descarga" />
                    <span class="nombreArchivo">{archivo.filePath.split('/').pop() || 'Descargar archivo'}</span>
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
    </div>
  </article>
</Plantilla>

<style lang="scss">
  .documento {
    display: flex;
    padding: 0 2rem;
  }

  .col1 {
    flex: 1;
    padding: 2rem;
    margin-right: 2rem;
    box-shadow: var(--sombra);
  }

  .col2 {
    max-width: 30vw;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .listaArchivos {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .archivoDescarga {
    display: flex;
    align-items: center;

    .iconoDescarga {
      height: 1.2em;
      width: auto;
      margin-right: 0.2em;
    }
  }

  .categoria {
    font-weight: 600;
  }

  .hijos {
    font-size: 0.9em;
    margin-bottom: 0.5em;
  }
</style>
