---
// Importar los módulos y tipos necesarios
import type { Glosario } from '../tipos';
import { gql, pedirDatos } from '../utilidades/ayudas';
import type { Pagina } from '@/tipos';
import TituloPagina from '@/componentes/TituloPagina.astro';

interface Props {
  pagina: Pagina;
}

const { pagina } = Astro.props;
// GraphQL esquema (query) para obtener los datos del glosario
const PeticionGlosario = gql`
  query NewQuery {
    glosarios {
      nodes {
        slug
        title
        content
      }
    }
  }
`;

// Obtener los datos del glosario
const { glosarios } = await pedirDatos<{ glosarios: { nodes: Glosario[] } }>(PeticionGlosario);

// Organizar los términos del glosario en orden alfbético
glosarios.nodes.sort((a, b) => a.title.localeCompare(b.title));
---

<main class="glosario">
  <TituloPagina titulo={pagina.title} slug={pagina.slug} />

  <section id="contenedorGlosario">
    {
      glosarios.nodes.map((glosario) => (
        <article class="termino" id={glosario.slug}>
          <h2 class="tituloTermino">{glosario.title}</h2>
          <div class="contenidoTermino" set:html={glosario.content} />
        </article>
      ))
    }
  </section>
</main>

<style lang="scss" is:global>
  #contenedorGlosario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 8em;
  }

  .contenidoTermino {
    width: 30vw;
    border: 2px solid var(--bordePrimario, #f21d44);
    padding: 10px;
    background-color: var(--superficieClaro);
    position: relative;
    margin-bottom: 2em;
  }
</style>
