---
import Fuego from '@/componentes/Fuego.astro';
import Menu from '@/componentes/Menu.astro';
import { crearTitulo } from '@/utilidades/ayudas';
interface Props {
  titulo: string;
  descripcion?: string;
  imagen?: string;
}

const { titulo, descripcion, imagen } = Astro.props;
const ruta = new URL(Astro.url.pathname, Astro.site);
const urlBase = new URL(`${import.meta.env.BASE_URL}/`, Astro.site);
const img = { url: '', titulo: '', ancho: '1200', alto: '630' };
const tituloPagina = crearTitulo(titulo);

if (imagen) {
  img.url = imagen;
  // img.titulo = imagen.titulo;
} else {
  img.url = `${Astro.site}/imgs/og-EnFlujo-predeterminado.jpg`;
  img.titulo = tituloPagina;
}
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={new URL('favicon.ico', urlBase)} sizes="32x32" />
    <link rel="icon" href={new URL('favicon.svg', urlBase)} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={new URL('apple-touch-icon.png', urlBase)} />
    <link rel="sitemap" href={new URL('sitemap-index.xml', urlBase)} />
    <link rel="canonical" href={ruta.href} />
    <title>{titulo}</title>
    <meta name="description" content={descripcion} />
    <!-- OpenGraph -->
    <meta property="og:locale" content="es_CO" />
    <meta property="og:site_name" content="EnFlujo" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={ruta.href} />
    <meta property="og:title" content={titulo} />
    <meta property="og:description" content={descripcion} />
    <meta property="og:image" content={img.url} />
    <meta property="og:image:alt" content={img.titulo} />
    <meta property="og:image:width" content={img.ancho} />
    <meta property="og:image:height" content={img.alto} />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@labenflujo" />
    <meta name="twitter:creator" content="@labenflujo" />
    <meta name="twitter:url" content={ruta.href} />
    <meta name="twitter:title" content={titulo} />
    <meta name="twitter:description" content={descripcion} />
    <meta name="twitter:image" content={img.url} />
    <meta name="twitter:image:alt" content={img.titulo} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Menu />
    <slot />

    <div class="guardaescobas"><Fuego /></div>
  </body>
</html>

<style lang="scss" is:global>
  @use '../scss/estilosGlobales.scss' as *;

  body,
  main {
    position: relative;
  }

  body {
    padding-bottom: 300px;
    min-height: 100vh;
  }

  .guardaescobas {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    height: 200px;
    width: 100%;
    pointer-events: none;
  }
</style>
